@model ShopCartViewModel

    <!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Main Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Favicon-->
        <link rel="shortcut icon" href="images/icon/favicon.png" type="image/x-icon">

        <!-- Web Fonts-->
        <link href="https://fonts.googleapis.com/css?family=Pacifico%7CSource+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&amp;amp;subset=latin-ext,vietnamese" rel="stylesheet">

        <!-- Vendor CSS-->
        <link rel="stylesheet" type="text/css" href="~/libs/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="~/libs/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="~/libs/animate/animated.css">
        <link rel="stylesheet" type="text/css" href="~/libs/owl.carousel.min/owl.carousel.min.css">
        <link rel="stylesheet" type="text/css" href="~/libs/jquery.mmenu.all/jquery.mmenu.all.css">
        <link rel="stylesheet" type="text/css" href="~/libs/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
        <link rel="stylesheet" type="text/css" href="~/libs/direction/css/noJS.css">
        <link rel="stylesheet" type="text/css" href="~/libs/prettyphoto-master/css/prettyPhoto.css">
        <link rel="stylesheet" type="text/css" href="~/libs/slick-sider/slick.min.css">
        <link rel="stylesheet" type="text/css" href="~/libs/countdown-timer/css/demo.css">

        <!-- Template CSS-->
        <link rel="stylesheet" type="text/css" href="~/css/main.css">
        <link rel="stylesheet" type="text/css" href="~/css/home.css">

    </head>
    <body class="products products-list">
        <header class="header yolo-header-style-10">
            <div class="yolo-top-bar">
                <div class="container">
                    <div class="row">
                        <div class="top-sidebar top-bar-left col-md-4">
                            <aside id="text-11" class="widget widget_text">
                                <div class="textwidget">
                                    <div>Welcome to BeArt - Best Paints</div>
                                </div>
                            </aside>
                        </div>
                        <div class="top-sidebar top-bar-right col-md-8">
                            <aside id="text-6" class="widget widget_text">
                                <div class="textwidget"><i class="fa fa-home"></i> 5 Kurchatova, Minsk </div>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-nav-wrapper">
                <div class="header-left">
                    <nav id="primary-menu" class="main-nav">
                        <ul class="nav">
                            <li class="menu-item menu-home">
                                <a href="/">Home</a>
                            </li>
                            <li class="menu-item menu-shop">
                                <a href="/Paints/Products">Shop</a>
                            </li>
                            <li class="menu-item menu-blog">
                                <a href="/Paints/Blog">Blog</a>
                            </li>
                            <li class="menu-item menu-blog">
                                <a href="/Paints/Contacts">Contacts</a>
                            </li>
                            <li class="active menu-item menu-blog">
                                <a href="/ShopCart/Cart">Cart</a>
                            </li>
                        </ul>
                    </nav>
                    <!-- .header-main-nav-->
                </div>
        </header>
        <div class="container">
            @if (Model.shopCart.listShopItems.Count == 0)
            {
                <div>
                    <h1>Your Cart is empty</h1>
                </div>
            }
            else
            {
                @foreach (var el in Model.shopCart.listShopItems)
                {
                    <div class="alert alert-warning mt-3">
                        <b>Painting:</b> @el.paint.name<br />
                        <b>Price:</b> @el.paint.price.ToString("c")
                    </div>
                }
            }
            <hr />
            <a class="btn btn-danger" asp-controller="Order" asp-action="Checkout">Pay</a>
        </div>
        <div class="div-box">
            <footer id="yolo-footer-wrapper">
                <div class="yolo-footer-wrapper footer-1">
                    <div class="footer-top">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4 col-sm-4">
                                    <div class="footer-col footer-1-col-1">
                                        <p>We are a creative company that specializes in strategy & design. We like to create things with like – minded people who are serious about their passions.</p>
                                        <ul id="social-footer">
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                            <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div class="footer-col footer-1-col-2">
                                        <h3>Our Office</h3>
                                        <div class="icon-info">
                                            <p><strong>Address</strong><br />5 Kurchatova, Minsk, Belarus.</p><i class="fa fa-map-marker"></i>
                                        </div>
                                        <div class="icon-info">
                                            <p><strong>Call Us</strong><br />(29) 123-45-67 (Or)<br />(33) 987-65-43</p><i class="fa fa-phone"></i>
                                        </div>
                                        <div class="icon-info">
                                            <p><strong>Email Us</strong><br />beart@gmail.com</p><i class="fa fa-envelope"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="click-back-top-footer">
                                <button type="button" class="sn-btn sn-btn-style-17 sn-back-to-top fixed-right-bottom"><i class="fa fa-angle-up"></i>top</button>
                            </div>
                        </div>
                    </div>
                    <div class="footer-bottom">
                        <div class="container">
                            <p class="copyright">BEART ©  2020 COPYRIGHT</p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <div class="popup-wrapper">
        </div>
        <!-- .popup-wrapper-->
        <div class="click-back-top-body">
            <button type="button" class="sn-btn sn-btn-style-17 sn-back-to-top fixed-right-bottom"><i class="btn-icon fa fa-angle-up"></i></button>
        </div>

        <!-- Vendor jQuery-->
        <script type="text/javascript" src="~/libs/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="~/libs/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="~/libs/animate/wow.min.js"></script>
        <script type="text/javascript" src="~/libs/jquery.mmenu.all/jquery.mmenu.all.min.js"></script>
        <script type="text/javascript" src="~/libs/countdown/jquery.countdown.min.js"></script>
        <script type="text/javascript" src="~/libs/jquery-appear/jquery.appear.min.js"></script>
        <script type="text/javascript" src="~/libs/jquery-countto/jquery.countTo.min.js"></script>
        <script type="text/javascript" src="~/libs/direction/js/jquery.hoverdir.js"></script>
        <script type="text/javascript" src="~/libs/direction/js/modernizr.custom.97074.js"></script>
        <script type="text/javascript" src="~/libs/isotope/isotope.pkgd.min.js"></script>
        <script type="text/javascript" src="~/libs/isotope/fit-columns.js"></script>
        <script type="text/javascript" src="~/libs/isotope/isotope-docs.min.js"></script>
        <script type="text/javascript" src="~/libs/mansory/mansory.js"></script>
        <script type="text/javascript" src="~/libs/prettyphoto-master/js/jquery.prettyPhoto.js"></script>
        <script type="text/javascript" src="~/libs/slick-sider/slick.min.js"></script>
        <script type="text/javascript" src="~/libs/countdown-timer/js/jquery.final-countdown.min.js"></script>
        <script type="text/javascript" src="~/libs/countdown-timer/js/kinetic.js"></script>
        <script type="text/javascript" src="~/libs/owl.carousel.min/owl.carousel.min.js"></script>
        <script type="text/javascript" src="~/js/main.js"></script>
    </body>
</html>