<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon-->
    <link rel="shortcut icon" href="images/icon/favicon.png" type="image/x-icon">

    <!-- Web Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Pacifico%7CSource+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&amp;amp;subset=latin-ext,vietnamese" rel="stylesheet">

    <!-- Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="~/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/libs/animate/animated.css">
    <link rel="stylesheet" type="text/css" href="~/libs/owl.carousel.min/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="~/libs/jquery.mmenu.all/jquery.mmenu.all.css">
    <link rel="stylesheet" type="text/css" href="~/libs/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
    <link rel="stylesheet" type="text/css" href="~/libs/direction/css/noJS.css">
    <link rel="stylesheet" type="text/css" href="~/libs/prettyphoto-master/css/prettyPhoto.css">
    <link rel="stylesheet" type="text/css" href="~/libs/slick-sider/slick.min.css">
    <link rel="stylesheet" type="text/css" href="~/libs/countdown-timer/css/demo.css">

    <!-- Template CSS-->
    <link rel="stylesheet" type="text/css" href="~/css/main.css">
    <link rel="stylesheet" type="text/css" href="~/css/home.css">

</head>
<body class="home main-home">
    <div id="preloaderKDZ"></div>
    <div class="yolo-site">
        <header class="header yolo-header-style-1">
            <div class="yolo-header-top yolo-header-top-style-1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-8">
                            <div class="header-customize header-customize-right">
                                <div class="custom-text-wrapper header-customize-item">Welcome to BeArt-Best Paints Shop</div>
                                <div class="custom-text-wrapper header-customize-item"><i class="fa fa-truck"></i>Free Shipping On All Orders Over $1000</div>
                                <div class="shopping-cart-wrapper header-customize-item with-price">
                                    <div class="widget_shopping_cart_content">
                                        <div class="widget_shopping_cart_icon"><i class="wicon fa fa-shopping-bag"></i><span class="total">0</span></div>
                                        <div class="sub-total-text"><span class="product-begreen-price-amount amount">$0.00</span></div>
                                        <div class="cart_list_wrapper">
                                            <div class="scroll-wrapper cart_list product_list_widget scrollbar-inner">
                                                <ul class="cart_list product_list_widget scrollbar-inner scroll-content">
                                                    <li class="empty">
                                                        <h4>An empty cart</h4>
                                                        <p>You have no item in your shopping cart</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom">
                <div class="container">

                    <div class="main-nav-wrapper">
                        <div class="header-left">
                            <nav id="primary-menu" class="main-nav">
                                <ul class="nav">
                                    <li class="active menu-item menu-home">
                                        <a href="index.html">Home</a>
                                    </li>
                                    <li class="menu-item menu-shop">
                                        <a href="products-list.html">Shop</a>
                                    </li>
                                    <li class="menu-item menu-blog">
                                        <a href="blog-masonry.html">Blog</a>
                                    </li>
                                    <li class="menu-item menu-blog">
                                        <a href="contact-us.html">Contacts</a>
                                    </li>
                                </ul>
                            </nav>
                            <!-- .header-main-nav-->
                        </div>

                        <div class="header-right">
                            <ul class="header-customize-item header-social-profile-wrapper">
                                <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-skype"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-youtube"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </header>
        <div id="example-wrapper">
            <div class="div-box">
                <div class="slider-home slider-home-1">
                    <div data-number="1" data-margin="0" data-loop="yes" data-navcontrol="yes" class="begreen-owl-carousel">
                        <div class="slider-1">
                            <div class="slider-content slider-1-content">
                                <div class="desc">be <span>art</span></div>
                                <h2>The garden</h2>
                                <h5>of</h5>
                                <h6>paints</h6>
                            </div>
                        </div>
                        <div class="slider-2">
                            <div class="slider-content slider-2-content">
                                <div class="desc">be <span>art</span></div>
                                <h2>The garden</h2>
                                <h5>of</h5>
                                <h6>paints</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="div-box mt mb">
                <div class="home-1-banner shortcode-single-product-wrap">
                    <div class="container">
                        <div class="home-1-banner-content">
                            <div class="row">
                                <div class="col-md-4 col-sm-4">
                                    <div class="product-item-wrap product-style_1">
                                        <div class="product-item-inner">
                                            <div class="product-thumb">
                                                <div class="product-flash-wrap"><span class="on-new product-flash">New</span></div>
                                                <div class="product-thumb-primary"><img src="~/images/demo/product-1.jpg" alt="product1" width="375" height="450" class="attachment-shop_catalog size-shop_catalog wp-post-image" /></div><a href="#" class="product-link">
                                                    <div class="product-hover-sign">
                                                        <hr />
                                                        <hr />
                                                    </div>
                                                </a>
                                                <div class="product-info">
                                                    <div class="star-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i></div><span class="price"><span class="product-begreen-price-amount amount"><span class="product-begreen-price-currencysymbol">$</span>40.00</span></span><a href="#">
                                                        <h3>Cactus quaerat volupta</h3>
                                                    </a>
                                                </div>
                                                <div class="product-actions">
                                                    <div class="yith-wcwl-add-to-wishlist add-to-wishlist-17">
                                                        <div class="yith-wcwl-add-button show"><a href="#" class="add_to_wishlist"><i class="fa fa-heart-o"></i> Add to Wishlist</a></div>
                                                    </div>
                                                    <div class="add-to-cart-wrap"><a href="#" class="add_to_cart_button"><i class="fa fa-cart-plus"></i> Add to cart</a></div><a href="#" class="product-quick-view"><i class="fa fa-search"></i>Quick view</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div class="home-1-banner-content-diffirent">
                                        <h2 class="title-style title-style-1"><span class="title-left">Creative </span><span class="title-right">Elements</span></h2>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisc elit Nam mattis sapien a ipsum dapibus Ut nec massa <br /> dui maecenas vel justo ipsum <br /> tincidunt tempor.</p>
                                        <figure><img src="~/images/demo/single-img-1.jpg" alt="single-img-1.jpg" /></figure>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div class="product-item-wrap product-style_1">
                                        <div class="product-item-inner">
                                            <div class="product-thumb">
                                                <div class="product-flash-wrap"><span class="on-new product-flash">New</span></div>
                                                <div class="product-thumb-primary"><img src="~/images/demo/product-2.jpg" alt="product1" width="375" height="450" class="attachment-shop_catalog size-shop_catalog wp-post-image" /></div><a href="#" class="product-link">
                                                    <div class="product-hover-sign">
                                                        <hr />
                                                        <hr />
                                                    </div>
                                                </a>
                                                <div class="product-info">
                                                    <div class="star-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i></div><span class="price"><span class="product-begreen-price-amount amount"><span class="product-begreen-price-currencysymbol">$</span>18.50</span></span><a href="#">
                                                        <h3>Nephrolepis exaltata</h3>
                                                    </a>
                                                </div>
                                                <div class="product-actions">
                                                    <div class="yith-wcwl-add-to-wishlist add-to-wishlist-17">
                                                        <div class="yith-wcwl-add-button show"><a href="#" class="add_to_wishlist"><i class="fa fa-heart-o"></i> Add to Wishlist</a></div>
                                                    </div>
                                                    <div class="add-to-cart-wrap"><a href="#" class="add_to_cart_button"><i class="fa fa-cart-plus"></i> Add to cart</a></div><a href="#" class="product-quick-view"><i class="fa fa-search"></i>Quick view</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div class="product-item-wrap product-style_1">
                                        <div class="product-item-inner">
                                            <div class="product-thumb">
                                                <div class="product-flash-wrap"><span class="on-new product-flash">New</span></div>
                                                <div class="product-thumb-primary"><img src="~/images/demo/product-3.jpg" alt="product1" width="375" height="450" class="attachment-shop_catalog size-shop_catalog wp-post-image" /></div><a href="#" class="product-link">
                                                    <div class="product-hover-sign">
                                                        <hr />
                                                        <hr />
                                                    </div>
                                                </a>
                                                <div class="product-info">
                                                    <div class="star-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i></div><span class="price"><span class="product-begreen-price-amount amount"><span class="product-begreen-price-currencysymbol">$</span>22.00</span></span><a href="#">
                                                        <h3>Cactus dolor sit amet</h3>
                                                    </a>
                                                </div>
                                                <div class="product-actions">
                                                    <div class="yith-wcwl-add-to-wishlist add-to-wishlist-17">
                                                        <div class="yith-wcwl-add-button show"><a href="#" class="add_to_wishlist"><i class="fa fa-heart-o"></i> Add to Wishlist</a></div>
                                                    </div>
                                                    <div class="add-to-cart-wrap"><a href="#" class="add_to_cart_button"><i class="fa fa-cart-plus"></i> Add to cart</a></div><a href="#" class="product-quick-view"><i class="fa fa-search"></i>Quick view</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div class="product-item-wrap product-style_1">
                                        <div class="product-item-inner">
                                            <div class="product-thumb">
                                                <div class="product-flash-wrap"><span class="on-new product-flash">New</span></div>
                                                <div class="product-thumb-primary"><img src="~/images/demo/product-4.jpg" alt="product1" width="375" height="450" class="attachment-shop_catalog size-shop_catalog wp-post-image" /></div><a href="#" class="product-link">
                                                    <div class="product-hover-sign">
                                                        <hr />
                                                        <hr />
                                                    </div>
                                                </a>
                                                <div class="product-info">
                                                    <div class="star-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i></div><span class="price"><span class="product-begreen-price-amount amount"><span class="product-begreen-price-currencysymbol">$</span>42.00</span></span><a href="#">
                                                        <h3>Cactus enim ipsam</h3>
                                                    </a>
                                                </div>
                                                <div class="product-actions">
                                                    <div class="yith-wcwl-add-to-wishlist add-to-wishlist-17">
                                                        <div class="yith-wcwl-add-button show"><a href="#" class="add_to_wishlist"><i class="fa fa-heart-o"></i> Add to Wishlist</a></div>
                                                    </div>
                                                    <div class="add-to-cart-wrap"><a href="#" class="add_to_cart_button"><i class="fa fa-cart-plus"></i> Add to cart</a></div><a href="#" class="product-quick-view"><i class="fa fa-search"></i>Quick view</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div class="product-item-wrap product-style_1">
                                        <div class="product-item-inner">
                                            <div class="product-thumb">
                                                <div class="product-flash-wrap"><span class="on-new product-flash">New</span></div>
                                                <div class="product-thumb-primary"><img src="~/images/demo/product-5.jpg" alt="product1" width="375" height="450" class="attachment-shop_catalog size-shop_catalog wp-post-image" /></div><a href="#" class="product-link">
                                                    <div class="product-hover-sign">
                                                        <hr />
                                                        <hr />
                                                    </div>
                                                </a>
                                                <div class="product-info">
                                                    <div class="star-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i></div><span class="price"><span class="product-begreen-price-amount amount"><span class="product-begreen-price-currencysymbol">$</span>55.00</span></span><a href="#">
                                                        <h3>Cactus unde omnis iste</h3>
                                                    </a>
                                                </div>
                                                <div class="product-actions">
                                                    <div class="yith-wcwl-add-to-wishlist add-to-wishlist-17">
                                                        <div class="yith-wcwl-add-button show"><a href="#" class="add_to_wishlist"><i class="fa fa-heart-o"></i> Add to Wishlist</a></div>
                                                    </div>
                                                    <div class="add-to-cart-wrap"><a href="#" class="add_to_cart_button"><i class="fa fa-cart-plus"></i> Add to cart</a></div><a href="#" class="product-quick-view"><i class="fa fa-search"></i>Quick view</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="div-box mt mb">
                <div class="home-1-latest-blog">
                    <div class="container">
                        <div data-number="3" data-margin="30" data-loop="false" data-navcontrol="yes" class="begreen-owl-carousel">
                            <div class="recent-news-home_1">
                                <div class="recent-news-container">
                                    <article class="recent_news_item">
                                        <div class="post-thumbnail">
                                            <a href="#">
                                                <div class="post-image"><img src="https://img2.goodfon.ru/original/1280x1024/8/c5/kartina-maslo-gorod.jpg" alt="blog1" width="300" height="203" class="attachment-medium size-medium wp-post-image" /></div>
                                            </a>
                                        </div>
                                        <div class="post-content">
                                            <div class="post-content-inner">
                                                <div class="post-main-content">
                                                    <h4 class="entry-title"><a href="#">Connie Saxe Planter</a></h4>
                                                    <p class="post-excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p><a href="#" class="btn-readmore"><span class="span-text">Read more</span></a>
                                                </div>
                                                <div class="post-meta">
                                                    <div class="post-meta-inner"><span class="post-day">4 </span><span class="post-month">January</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div class="recent-news-home_1">
                                <div class="recent-news-container">
                                    <article class="recent_news_item">
                                        <div class="post-thumbnail">
                                            <a href="#">
                                                <div class="post-image"><img src="https://evivid.ru/wp-content/uploads/2020/08/f78eadc85d1a0ae93792dab93ec26987.jpg" alt="blog1" width="300" height="203" class="attachment-medium size-medium wp-post-image" /></div>
                                            </a>
                                        </div>
                                        <div class="post-content">
                                            <div class="post-content-inner">
                                                <div class="post-main-content">
                                                    <h4 class="entry-title"><a href="#">Connie Saxe Planter</a></h4>
                                                    <p class="post-excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p><a href="#" class="btn-readmore"><span class="span-text">Read more</span></a>
                                                </div>
                                                <div class="post-meta">
                                                    <div class="post-meta-inner"><span class="post-day">4 </span><span class="post-month">January</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div class="recent-news-home_1">
                                <div class="recent-news-container">
                                    <article class="recent_news_item">
                                        <div class="post-thumbnail">
                                            <a href="#">
                                                <div class="post-image"><img src="https://eskipaper.com/images/mark-petit-venice-art-1.jpg" alt="blog1" width="300" height="203" class="attachment-medium size-medium wp-post-image" /></div>
                                            </a>
                                        </div>
                                        <div class="post-content">
                                            <div class="post-content-inner">
                                                <div class="post-main-content">
                                                    <h4 class="entry-title"><a href="#">Piching</a></h4>
                                                    <p class="post-excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p><a href="#" class="btn-readmore"><span class="span-text">Read more</span></a>
                                                </div>
                                                <div class="post-meta">
                                                    <div class="post-meta-inner"><span class="post-day">4 </span><span class="post-month">January</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="div-box">
                <footer id="yolo-footer-wrapper">
                    <div class="yolo-footer-wrapper footer-1">
                        <div class="footer-top">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-4 col-sm-4">
                                        <div class="footer-col footer-1-col-1">                                           
                                            <p>We are a creative company that specializes in strategy & design. We like to create things with like – minded people who are serious about their passions.</p>
                                            <ul id="social-footer">
                                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                                <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <div class="footer-col footer-1-col-2">
                                            <h3>Our Office</h3>
                                            <div class="icon-info">
                                                <p><strong>Address</strong><br />5 Kurchatova, Minsk, Belarus.</p><i class="fa fa-map-marker"></i>
                                            </div>
                                            <div class="icon-info">
                                                <p><strong>Call Us</strong><br />(29) 123-45-67 (Or)<br />(33) 987-65-43</p><i class="fa fa-phone"></i>
                                            </div>
                                            <div class="icon-info">
                                                <p><strong>Email Us</strong><br />beart@gmail.com</p><i class="fa fa-envelope"></i>
                                            </div>
                                        </div>
                                    </div>                                    
                                </div>
                                <div class="click-back-top-footer">
                                    <button type="button" class="sn-btn sn-btn-style-17 sn-back-to-top fixed-right-bottom"><i class="fa fa-angle-up"></i>top</button>
                                </div>
                            </div>
                        </div>
                        <div class="footer-bottom">
                            <div class="container">
                                <p class="copyright">BEART ©  2020 COPYRIGHT</p>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>

        </div>
    </div>
    <!-- .mv-site-->



    <div class="popup-wrapper">
    </div>
    <!-- .popup-wrapper-->
    <div class="click-back-top-body">
        <button type="button" class="sn-btn sn-btn-style-17 sn-back-to-top fixed-right-bottom"><i class="btn-icon fa fa-angle-up"></i></button>
    </div>

    <!-- Vendor jQuery-->
    <script type="text/javascript" src="~/libs/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="~/libs/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/libs/animate/wow.min.js"></script>
    <script type="text/javascript" src="~/libs/jquery.mmenu.all/jquery.mmenu.all.min.js"></script>
    <script type="text/javascript" src="~/libs/countdown/jquery.countdown.min.js"></script>
    <script type="text/javascript" src="~/libs/jquery-appear/jquery.appear.min.js"></script>
    <script type="text/javascript" src="~/libs/jquery-countto/jquery.countTo.min.js"></script>
    <script type="text/javascript" src="~/libs/direction/js/jquery.hoverdir.js"></script>
    <script type="text/javascript" src="~/libs/direction/js/modernizr.custom.97074.js"></script>
    <script type="text/javascript" src="~/libs/isotope/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="~/libs/isotope/fit-columns.js"></script>
    <script type="text/javascript" src="~/libs/isotope/isotope-docs.min.js"></script>
    <script type="text/javascript" src="~/libs/mansory/mansory.js"></script>
    <script type="text/javascript" src="~/libs/prettyphoto-master/js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="~/libs/slick-sider/slick.min.js"></script>
    <script type="text/javascript" src="~/libs/countdown-timer/js/jquery.final-countdown.min.js"></script>
    <script type="text/javascript" src="~/libs/countdown-timer/js/kinetic.js"></script>
    <script type="text/javascript" src="~/libs/owl.carousel.min/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/js/main.js"></script>
</body>
</html>